<style>
    .same-line2 {
        padding-right: 20px;
        float: left;
        margin-top: 10px;
    }

    .same-line2 label {
        margin-left: 55px;
     }

    .same-line1 {
        float: left;
        margin-top: 10px;
        margin-left: 40px;
    }

    .same-line1 label {
        margin-left: 55px;
    }

</style>

<div>
    <div class="form-group same-line1">
        <label asp-for="ExpectedSets"></label>
        <input class="form-control num-box" asp-for="ExpectedSets" />
        <span asp-validation-for="ExpectedSets"></span>
    </div>

    <div class="form-group same-line2">
        <label asp-for="ExpectedReps"></label>
        <input class="form-control num-box" asp-for="ExpectedReps" />
        <span asp-validation-for="ExpectedReps"></span>
    </div>
</div>
