@{
    ViewBag.Title = "Index";
}

<style>
    a:hover {
        background-color: navy;
    }

    .logo {
        height: 300px;
        width: 300px;
    }

    li {
        display: inline;
        float: right;
        font-family: Arial;
        font-size: 20px;
        margin: 0 0px 0 40px;
        margin-right: 23px;
        background: #3F99DB;
    }

        li a {
            background: #3F99DB;
        }

    p {
        font-size: 70px;
    }


    ul {
        list-style-type: none;
        margin: 0 -20px -20px 0;
        padding: 5px;
        overflow: hidden;
        background: #3F99DB;
        width: 35%;
        float: right;
    }
</style>

<body>
    <header>
        <ul>
            <li><a href="User/Add" style="text-decoration:none;">Sign Up</a></li>
            <li><a href="User/Login" style="text-decoration:none;">Login</a></li>
            <li><a href="Consistency/About" style="text-decoration:none;">About</a></li>
        </ul>

    </header>

    <div class="body">
        <div>
            <br />
            <br />
            <br />
            <img src="https://dl.dropboxusercontent.com/s/tlyp9udpw0hc9mx/Gym%20Rat%20Logo3.png??raw=1" class="logo" />
            <hr />
            <h1>Stop using paper to track your workouts.</h1>
        </div>
    </div>

</body>
