@{
    ViewData["Title"] = "Home Page";
}

<style>
    .logo {
        height: 300px;
        width: 300px;
    }
</style>

<div class="body">
    <div>
        <br />
        <br />
        <br />
        <img src="https://dl.dropboxusercontent.com/s/n3teipddkqww04i/Blue%20Version.png?dl=0raw=1" class="logo" />
        <hr />
        <h1>Stop using paper to track your workouts.</h1>
    </div>
</div>
