<style>
    
    .logo {
        width: 250px;
        height: 250px;
        margin-left: 300px;
    }

    table {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        border: 4px solid #3F99DB;
        margin-right: 125px;
    }

    table th {
        font-size: 48px;
        border: 4px solid #3F99DB;
        text-align: center;
    }

</style>


<body>
    <br />
    <br />
    <div class="col-lg-6">

        <img src="https://dl.dropboxusercontent.com/s/n3teipddkqww04i/Blue%20Version.png?dl=0raw=1" class="logo" />
    </div>

        <table>
            <tr>
                <th><a href="https://localhost:44357/Lift/Menu" style="text-decoration:none" ;>Lift</a></th>
            </tr>

            <tr>
                <th><a href="https://localhost:44357/Analyze" style="text-decoration:none;">Analyze</a></th>
            </tr>

            <tr>
                <th><a href="https://localhost:44357/Measure" style="text-decoration:none;">Measure</a></th>
            </tr>

        </table>

    <br />
    <br />

</body>
